/.venv
/baju.py
/barang.txt
/friedChicken.py
/gajiKaryawan.py
/inputOutput.py
/jualTiket.py
/latihan.py
/list.py
/list_dataTamu.py
/loop.py
/luasPersegiPanjang.py
/matix.py
/operatorAritmatika.py
/pendaftaranMaba.py
/tokoMainan.py